.section{
  padding: 20px;
  max-width: 350px;
  height: 200px;
  overflow: hidden;
  margin: 10px;
  transition: all 0.1s ease-in;
}

.text-justify{
  text-align: justify;
}

.section:hover{
  transform: scale(1.05);
  background: rgb(91, 91, 145);
  color: white;
}

.active-plan{
  /* background: red; */
  transform: scale(1.03);
  border-color: rgb(116, 116, 233);
  transition:  all .5s ease ;
}
.active-plan > .card-header{
  background: rgb(116, 116, 233);
  color: white;
}

/* @media screen and (max-width:400px) {
  .section{
    width: 200px;
  }
} */

.loader{
  width: 30px;
  height: 30px;
  /* background: #000; */
  border: 4px solid black;
  border-radius: 50%;
  border-top-color: gray;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from{transform: rotate(0turn);}
    to{transform: rotate(1turn);}
}